


{% extends 'base.html.twig' %}
{% block title %}ModifierArticle{% endblock %}
{% block body %}
    

    {{ form_start(form) }}
        {{ form_widget(form) }} {# Rendu de tout le formulaire #}
        <button type="submit" class="btn btn-success">Enregistrer les modifications</button>
    {{ form_end(form) }}
{% endblock %}
